          <div class="footer">
            <div class="contact">
              <p>
                <a href="http://chris.bajgier.net">Christopher Bajgier</a><br />
                Digital Product Manager<br />
                <a href="mailto:chris@bajgier.net">chris@bajgier.net</a>
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/cbajgier">github.com/cbajgier</a><br />
                <a href="https://twitter.com/cbajgier">twitter.com/cbajgier</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
